<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{homepage.title.head}"/>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles"> </th:block> /*/-->
</head>
<body>
    <div class="container">
        <header th:insert="fragments/general.html :: header (title = #{homepage.title})"> </header>

        <th:block th:replace="fragments/navigation.html :: main-navigation"/>

        <p th:text="#{homepage.content1}"/>

        <div th:replace="fragments/general.html :: footer"></div>
    </div>
</body>
</html>