<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{product.display.title.head}"></title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles"> </th:block> /*/-->
</head>
<body>
    <div class="container">
    <header th:insert="fragments/general.html :: header (title = #{product.display.title})"> </header>
    <th:block th:replace="fragments/navigation.html :: main-navigation"/>

    <p th:text="${product.name}">

    <div class="product-dsp-wrapper">
    <div class="product-dsp-left">
        <img th:src="@{${product.catalogImageLink != null ? '/files/' + product.catalogImageLink : '/files/void.jpg'}}"
                                                class="product-catalog-img" />
    </div>

    <div class="product-dsp-right">

        <div class="add-to-basket">
            <button type="button" class="btn-warning" th:text="#{button.add.to.basket}"
                    th:onclick="'javascript:addToBasket(' + ${product.id} + ');'"/>
        </div>

        <div class="price-container">
            <span th:text="#{column.price} + ' ' + ${product.price}"/>


            <img th:src="@{/files/crown-coin.jpg}" class="currency-img" />
        </div>
        </div>
    </div>

    <span class="product-description" th:text="${product.description}" />


    <div th:replace="fragments/general.html :: footer" />
    </div>


</body>
</html>