<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <!--/*/ <th:block th:include="fragments/general.html :: headerfiles"> </th:block> /*/-->

</head>
<body>

<div class="container">
    <header th:insert="fragments/general.html :: header (title = 'Products')"> </header>
    <th:block th:replace="fragments/general.html :: navigation"/>

    <h1>Product List</h1>
    <p>Choose product of your liking</p>

    <table border="1">
        <thead>
        <tr>
            <th th:text="ID"    style="min-width: 25px" />
            <th th:text="Name"  style="min-width: 100px"/>
            <th th:text="Price" style="min-width: 50px"/>
            <th th:text="Image" />
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, iStat : ${products}" th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">

            <td th:text="${product.id}" />
            <td>
                <a th:href="@{${'/products/' + product.id}}" th:text="${product.name}" target="_self" />
            </td>
            <td th:text="${product.price}" />
            <td>
                <img th:if="${product.catalogImageLink != null && product.catalogImageLink != ''}"
                     th:src="@{${'/files/' + product.catalogImageLink}}" class="product-catalog-img" />
            </td>
        </tr>
        </tbody>
    </table>

    <div th:replace="fragments/general.html :: footer"></div>
</div>
</body>
</html>